<!DOCTYPE html>
<style>
    #successHotels{
        top: 550px;
        padding : 5px;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotels</title>
</head>
<body>
<div id="successHotels">
    <div class="form-group">
        <label for="name">Record created successfully for Hotels!!</label>
        <button id="createHotels" class="btn btn-primary" ng-click="vm.createHotels()">Create Hotels</button>
    </div>
</div>
<div class="form-container" id="addHotels">
    <form method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" name="location" id="location"class="form-control"  required />
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" name="address" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <input type="text" id="rating" name="rating" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="pricePerDay">PricePerDay</label>
            <input type="text" id="pricePerDay" name="pricePerDay" class="form-control" cols="30" rows="5" required />
        </div>
        <div class="form-group">
            <input type="submit" id="submit" name="Submit" ng-click="vm.saveHotels();" class="form-control"/>
        </div>
    </form>
</div>
</body>
</html>