<body background="C:\Users\DELL\Desktop\logos\germany1.jpg">


<body>

<style>
    body {
        background-color:pink;

    <body background="C:\Users\DELL\Desktop\logos\germany1.jpg">
    p {color: blue;}

    }
</style>

<h2><center> CONTACT US</center></h2>

<br>
<br>
<p><center><h2>Sometimes <bold>magic</bold> is just someone <bold>spending</bold> more time on<br>
        something than anyone else might reasonably expect.</h2></center>	</p>



<form action="mailto:someone@example.com" method="post" enctype="text/plain">
    Name:<br>
    <input type="text" name="name"><br>
    E-mail:<br>
    <input type="text" name="mail"><br>
    Subject:<br>
    <input type="text" name="name"><br>
    message:<br>
    <input type="text" name="comment" size="100"><br><br>
    <input type="submit" value="Send">
    <input type="reset" value="Reset">
</form>

</body>
