<style>
	.ul1{
		list-style: none;
		font-size: 18px;
	}
	.div1{
		padding: 4px;
		border: 2px solid #ddd;
	}
	.heading{
		margin-left: 24px;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
	}
	.MainHeader{
		color:#337ab7;
	}
	.txtbox{
		margin-top: 30px;
		padding: 7px;
		width: 251px;
	}
	#noRes{
		padding:10px;
	}
    .div1.ng-scope {
        width: 30%;
        float: left;
        height: 309px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
</style>
<form  ng-submit="vm.getData();" autocomplete="on">
<div>
	<input class="txtbox" id="placename" ng-model="placename" type="text"  placeholder="Enter Address"  type="text">
	<div id="noRes">
		Sorry No result found!!! Please enter valid address..
	</div>
	<div class="restaurants">
		<h3 class="MainHeader">Restaurants</h3>
			<div ng-repeat="restaurant in vm.listOfRestaurants" class="div1">
				<h4 class="heading">{{restaurant.Name}}</h4>
				<ul class="ul1">
                 <li><img src="images/Hotels/Atlantic.jpg" style="width: 250px;"> </li>
				<li>Location: {{restaurant.Location}}</li>
				<li>Address:  {{restaurant.Address}}</li>
				<!--<li>Description: {{restaurant.Description}}</li>-->
				<!--<li>Timings: {{restaurant.Timings}}</li>
				<li>Contact: {{restaurant.Contact}}</li>-->
				</ul>
			</div>
	</div>
<div class="hotel" style="float: left;width: 100%;">
		<h3 class="MainHeader">Hotels</h3>
			<div ng-repeat="hotel in vm.listOfHotels" class="div1">
				<h4 class="heading">{{hotel.Name}}</h4>
				<ul class="ul1">
                  <li><img src="images/Hotels/City Partner1.jpg" style="width: 250px;"> </li>
				<li>Location: {{hotel.Location}}</li>
				<li>Address: {{hotel.Address}}</li>
				<!--<li>Description : {{hotel.Description}}</li>
				<li>Rating : {{hotel.Rating}}</li>
				<li>Price per day : {{hotel.pricePerDay}}</li></ul>-->
                    </ul>
			</div>
    </div>
	</div>
	<div class="events" style="float: left;width: 100%;">
		<h3 class="MainHeader">Events</h3>
			<div ng-repeat="event in vm.listOfEvents" class="div1">
				<h4  class="heading">{{event.Name}}</h4>
				<ul class="ul1">
				<li>Location: {{event.Location}}</li>
				<li>Venue:  {{event.Venue}}</li>
				<!--<li>Description: {{event.Description}}</li>
				<li>Timings: {{event.Timings}}</li></ul>-->
			</div>
	</div>
</div>