<html xmlns="http://www.w3.org/1999/html">
<body>
<head>
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/css/style.css" rel='stylesheet' type='text/css' />
    <div id="successFeedback">
        <div class="form-group">
            <label for="name">Record created successfully for feedbacks!!</label>
            <button id="createFeedback" class="btn btn-primary" ng-click="vm.createFeedbacks()">Add feedback</button>
        </div>
    </div>
<div class="contact">
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Feedback</li>
        </ol>
        <div class="contact-head">
            <h2>Feedback us </h2><h4 style="font-size:18px;color:#009">With your valuable suggestions...</h4>
        </div>
       <form method="post">
        <div class="col-md-6 contact-left">
            <br/><br/>
            <input type="text" placeholder="E-mail" name="email" id="email" style="width:100%; padding:10px 12px; margin-bottom: 1.5em;border: 1px solid #87655B;"><br /><span class="help-inline" id="email" style="color:#F00;position:absolute"></span>
            <input type="text" placeholder="Phone" name="phone" id="phone" style="width:100%; padding:10px 12px;border: 1px solid #87655B;"/><br /><span class="help-inline" id="phone" style="color:#F00;position:absolute"></span>
        </div>
        <div class="col-md-6 contact-right">
            <br /><br />
            <textarea placeholder="Enter Your feedback..." name="message" id="txtFeedback"></textarea>


        </div>
           <div>
               <input type="submit" value="SEND" name="feedback" id="feedback" ng-click="vm.saveFeedback()"/>
               </div>
       </form>
        <div class="clearfix"></div>
    </div>

</div>
</head>
</body>
</html>